@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;800&family=Montserrat:wght@300;400;500;700;800&family=Roboto:wght@300;400;500;700&display=swap');

/* RESET CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* GLOBAL */
html{
    line-height: 1.15;
}
body {
    /* GG Font */
    font-family: 'Jost', sans-serif;
}

.text_global p {
    font-size: 14px;
    font-weight: 600;
    color: #7e7d7d;
    line-height: 1.875rem;
    letter-spacing: 1px;
}

.text_global h3 {
    color: #3f3a64;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.carousel__btn--1 a {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.btn-style1 {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition:all 0.5s;
    color: #3f3a64;
    border-radius: 8px;
}
.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition:all 0.5s;
    color: #3f3a64;
    border-radius: 8px;
}
.btn-style1:hover{
    color: #009f4d;
}
.btn-style:hover{
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
    transition: all 0.5s;
}

.btn-primary:hover {
    background-color: #008030;
    border-color: #00732c;
}

.small__title{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
    margin: 0;
}
.main__title{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
    margin-bottom: 24px;
}

.text__para {
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
    margin: 0;
}

/* HEADER */
.main__header{
    position: absolute;
    width: 100%;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    display: grid;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    }
header .container{
    color: white;
}
header .container .navbar{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .fa-logo{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}
.fa-logo{
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.navbar-brand{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    }
.navbar .navbar-brand {
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.navbar .navbar-brand span i {
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
}
.navbar .navbar-brand span{
    font-size: 30px;
    font-weight: 600;
}
.navbar .navbar-brand span.logo{
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}
.btn__search{
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #009f4d;
    cursor: pointer;
}
.mode i{
    position: relative;
    transform: rotate(-25deg);
    width: 20px;
    height: 20px;
    line-height: 45px;
    padding: 1px 0;
    font-size: 24px;
    /* border: 2px solid;
    border-bottom: 2px solid transparent; */
}
.navbar-nav li.nav-item{
    padding: 0 12px;
}
.navbar-nav .nav-item a.nav-link{
    padding: 14px 0 10px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    opacity: .8;
    transition: all 0.5s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #fff;
    opacity: 1;
}
.navbar-dark .navbar-nav a.nav-link.active, .navbar-dark .navbar-nav a:active{
    color: #fff;
    opacity: 1;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 20px 0;
}
.dropdown-menu a.dropdown-item{
    font-size: 15px;
    color: #3f3a64;
    background-color: none;
    opacity: .8;
    font-weight: 600;
    padding: 6px 20px;
    transition: all 0.5s;
    width: 190.4px;
}
.dropdown-item:hover {
    opacity: 1;
    color: #16181b !important;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-item.active,
.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background: none;
    opacity: 1;
}
.navbar-expand-lg .navbar-nav .dropdown-menu::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #eee;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

/* BANNER */
.banner{
    color: white;
}
.carousel__overlay{
    background-color: rgba(29, 42, 55, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}
.carousel-caption h1{
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    color: #e6e8f6;
    max-width: 800px;
    font-weight: 600;
}
.carousel-caption p{
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: .9;
    margin-top: 24px;
    margin-bottom: 0px;
}
.carousel__btn--1{
    padding: 30px 0 0;
}

.carousel-control-prev span.carousel-control-next-icon{
    right: 95px;
}
.carousel-control-prev span{
    color: #3f3a64;
}
.carousel-control-prev-icon{
    position: absolute;
    right: 25px;
    bottom: 50px;
    font-size: 0;
    background: white;
    border: 0;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

/* FEATURE */
.feature{
    background-color: #f7f7f7;
}
.feature__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}
.feature__grid--item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: #fff;
    transition: all 0.5s;
}
.feature__grid--item:hover{
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.feature__grid--item .icon img{
    max-width: 65px;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.feature__grid--item h4 a{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
    transition: all 0.5s;
}
.feature__grid--item h4 a:hover{
    text-decoration: none;
    color: #009f4d;
}

/* SERVICE */
.service .container .title h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
.service__item img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    height: auto;
}
.item__content {
    padding: 0 20px;
    position: relative;
}
.item__content a{
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    background-color: white;
    color: #3f3a64;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    transition: all 0.5s;
}
.item__content a:hover{
    text-decoration: none;
    color: #009f4d;
}
.item__content p{
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 17px;
    color: #666;
    opacity: .8;
}

.service__item .btn-style1:focus .item__content:hover{
    border-color: #009f4d;
}

/* GALLERY */
.gallery {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

.gallery_items {
    margin-bottom: 1.875rem;
}

.gallery_overplay img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.gallery_overplay {
    position: relative;
    overflow: hidden;
}

.gallery_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 90px 25px 40px;
    background: rgba(29, 42, 55, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0;
    transition: all 0.5s;
}

.gallery_items:hover .gallery_text {
    opacity: 1;
}

.gallery_text h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    transform: translateY(200px);
    transition: all 0.5s;
}

.gallery_text p {
    font-size: 1.125rem;
    color: #eee;
    transition: all 0.5s;
    transform: translateY(200px);
}

.gallery_items:hover .gallery_text h4,
.gallery_items:hover .gallery_text p {
    transform: translateY(0);
}

.gallery_items:hover img {
    transform: scale(1.1);
}

.gallery_brand img {
    width: 80%;
    object-fit: cover;
}

.gallery .gallery_brand {
    justify-content: center;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 2.5rem;
}

.lb-data .lb-number {
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 1rem;
    color: green;
}

.lb-dataContainer {
    padding-top: 25px;
}

.lb-data .lb-caption {
    font-size: 1rem;
}

@media screen and (max-width:576.98px) {
    .gallery .text_global h3 {
        font-size: 25px;
    }
}

/* SUCCESS */
.success .success_left {
    display: flex;
    align-items: center;
}

.success .success_left img {
    width: 100%;
    border-radius: 10px;
}

.success .success_right {
    padding-top: 20px;
}
.success .success_right .text_global h3{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}
.success .success_right .text_global p {
    margin: 0;
    letter-spacing: 2px;
}

.success .success_right .progress_tittle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    color: #3f3a64;
    font-weight: 400;
}

.success .success_right .progress_tittle1 {
    width: 80%;
    margin-right: auto;
}

.success .success_right .progress_tittle2 {
    width: 95%;
    margin-right: auto;
}

.success .success_right .progress_tittle3 {
    width: 60%;
    margin-right: auto;
}

.success .success_right .progress_tittle4 {
    width: 85%;
    margin-right: auto;
}

.success .success_right .success_items {
    margin-bottom: 30px;
}

.success .success_right .progress {
    height: 4px;
    color: #f7f7f7;
    position: relative;
    overflow: unset;
}
.success .success_right .progress_color1 .progress-bar::before{
    content: "";
    position: absolute;
    right: 20%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 2px solid #61fded;
    opacity: 0.3;
    color: #61fded;
}
.success .success_right .progress_color1 .progress-bar::after{
    content: "";
    position: absolute;
    right: 20%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 14px;
    width: 14px;
    border: 3px solid #61fded;
    background-color: #fff;
    color: #61fded;
}
.success .success_right .progress_color2 .progress-bar::before{
    content: "";
    position: absolute;
    right: 5%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 2px solid #eece90;
    opacity: .3;
    color: #eece90;
}
.success .success_right .progress_color2 .progress-bar::after{
    content: "";
    position: absolute;
    right: 5%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 14px;
    width: 14px;
    border: 3px solid #eece90;
    background-color: #fff;
    color: #eece90;
}
.success .success_right .progress_color3 .progress-bar::before{
    content: "";
    position: absolute;
    right: 40%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 2px solid #5c51ff;
    opacity: .3;
    color: #5c51ff;
}
.success .success_right .progress_color3 .progress-bar::after{
    content: "";
    position: absolute;
    right: 40%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 14px;
    width: 14px;
    border: 3px solid #5c51ff;
    background-color: #fff;
    color: #5c51ff;
}
.success .success_right .progress_color4 .progress-bar::before{
    content: "";
    position: absolute;
    right: 15%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 2px solid #e5529a;
    opacity: .3;
    color: #e5529a;
}
.success .success_right .progress_color4 .progress-bar::after{
    content: "";
    position: absolute;
    right: 15%;
    top: 70%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 14px;
    width: 14px;
    border: 3px solid #e5529a;
    background-color: #fff;
    color: #e5529a;
}
.success .success_right .progress_color1 .progress-bar {
    background: linear-gradient(-224deg, #0d8abc, #61fded);
}

.success .success_right .progress_color2 .progress-bar {
    background: linear-gradient(-224deg, #d45529, #eece90);
}

.success .success_right .progress_color3 .progress-bar {
    background: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.success .success_right .progress_color4 .progress-bar {
    background: linear-gradient(-224deg, #e77654, #e5529a);
}

/* BACK TO TOP */
.backtotop i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #00a63f;
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 0.5;
}

@media screen and (max-width:767.98px) {
    .success .success_right .text_global h3 {
        font-size: 1.7rem;
    }
}